/* !!! 1. <body> !!! */
/* !!! 2. <header> !!! */
/* !!! 3. <main> !!! */
/* !!! 4. <footer> !!! */

/* ---------------------------------------------------------------------- */
/* !!! 1. <body> !!! */

body {
	background-color: #555;
	color: #fff;
	font-family: Arial, sans-serif;
	text-align: justify;
	margin: 0;
}

a {
	text-decoration: none;
	color: #fff;
}

a:hover {
	color: #ff0;
}

a h1:hover {
	color: #ff0;
}

h1 {
	color: #ff9;
	font-size: 24px;
	text-align: center;
}

h2 {
	text-align: center;
}

/* ---------------------------------------------------------------------- */
/* !!! 2. <header> !!! */

header {
	background-color: #999;
	width: 100%;
	height: auto;
	top: 0px;
	left: 0px;
	position: fixed;
	overflow: hidden;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

header a {
	padding: 0 8vmin;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

header img {
	width: 8vmin;
	height: auto;
	padding: 0 2vmin;
}

header h1 {
	color: #ff0;
}

.navbar_list {
	list-style-type: none;
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-end;
}

@media all and (max-width: 800px) {
	.navbar_list {
		justify-content: space-around;
	}
}

@media all and (max-width: 500px) {
	.navbar_list {
		flex-direction: column;
	}
}

.navbar_list li {
	display: inline-block;
}

.navbar_list a {
	text-decoration: none;
	padding: 5px 20px;
	text-align: center;
	display: block;
}

/* ---------------------------------------------------------------------- */
/* !!! 3. <main> !!! */

main {
	padding: 60px 20px 20px 20px;
}

.flex {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	text-align: center;
	gap: 20px;
}

/* ---------------------------------------------------------------------- */
/* !!! 4. <footer> !!! */

footer {
	background-color: #777;
	color: #fff;
	padding: 10px;
	margin: -16px 0 -16px 0;
	text-align: right;
	font-size: 12px;
}

footer p {
	margin: 0;
}