/*----------body----------*/

body {
	background-color: #111;
	color: #ff9;
	font-family: Arial, sans-serif;
	text-align: justify;
	margin: 0;
}

a {
	text-decoration: none;
	color: #ff9;
}

a:hover {
	background-color: #111;
	color: #ff0;
}

h1 {
	color: #ff0;
	font-size: 24px;
	text-align: center;
}

/*----------header----------*/

header {
	background-color: #555;
	width: 100%;
	top: 0px;
	left: 0px;
	position: fixed;
	overflow: hidden;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

header img {
	width: 80px;
	height: auto;
	padding: 0;
	margin: 0;
}

header h1 {
	color: #ff0;
	padding: 0;
	margin: 0;
}

nav {
	order: 1;
}

nav ul {
	list-style-type: none;
}

nav li {
	display: inline-block;
}

nav li a {
	text-decoration: none;
	color: #f99;
	padding: 5px 20px;
	text-align: center;
	display: block;
}

/*----------main----------*/

main {
	padding: 60px 20px 20px 20px;
}

.flex {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	text-align: center;
	gap: 20px;
}

#flex a {
	flex: 1 1 0%;
}

#flex img {
	max-width: 100%;
	height: auto;
}

/*----------footer----------*/

footer {
	background-color: #000;
	color: #999;
	padding: 10px;
	margin: -16px 0 -16px 0;
	text-align: right;
	font-size: 12px;
}

footer p {
	margin: 0;
}