/* !!! 1. <body> !!! */
/* !!! 2. <header> !!! */
/* !!! 3. <aside> !!! */
/* !!! 4. <main> !!! */
/* !!! 5. <section id="#about"> !!! */
/* !!! 6. <section id="#projects"> !!! */
/* !!! 7. <section id="#articles"> !!! */
/* !!! 8. <section id="#contact"> !!! */
/* !!! 9. <footer> !!! */
/* !!! 10. @media query !!! */

/* ---------------------------------------------------------------------- */
/* !!! 1. <body> !!! */

body {
	background-color: #555;
	color: #fff;
	font-family: 'Lucida Console', 'Courier New', monospace;
	text-align: justify;
	margin: 0;
}

a {
	text-decoration: none;
	color: #fff;
}

a:hover {
	color: #ff0;
}

a h1:hover {
	color: #ff0;
}

h1 {
	color: #ff9;
	font-size: 24px;
	text-align: center;
}

h2 {
	text-align: center;
}

/* ---------------------------------------------------------------------- */
/* !!! 2. <header> !!! */

header {
	background-color: #999;
	position: fixed;
	z-index: 2;
	top: 0;
	width: 100%;
	overflow: hidden;
	transition: top 0.3s;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

header a {
	padding: 0 8vmin;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

header img {
	width: 8vmin;
	height: auto;
	padding: 0 2vmin;
}

header h1 {
	color: #ff0;
}

#navtopbar {
	list-style-type: none;
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-end;
}

#navtopbar a {
	font-size: 1.25em;
	display: block;
	padding: 5px 20px;
}

@media all and (max-width: 720px) {
	header {
		justify-content: space-around;
	}
	#navsidebar {
		padding-top: 110px;
	}
}

@media all and (max-width: 500px) {
	header, #navtopbar {
		flex-direction: column;
	}
	#navsidebar {
		padding-top: 190px;
	}
}

/* ---------------------------------------------------------------------- */
/* !!! 3. <aside> !!! */

aside {
	background-color: #999;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	height: 100%;
	overflow-x: hidden;
	padding-top: 26px;
}

#navsidebar {
	padding-top: 50px;
}

aside a {
	display: block;
	padding: 16px;
}

/* ---------------------------------------------------------------------- */
/* !!! 4. <main> !!! */

main {
	padding: 4em 20px 20px 2em;
	margin-left: 100px;
}

section {
	padding-top: 4em;
	margin-top: -4em;
}

@media all and (max-width: 720px) {
	main {
		padding: 50px 20px 20px 20px;
	}
	section {
		padding-top: 110px;
		margin-top: -110px;
	}
}

@media all and (max-width: 500px) {
	main {
		padding: 190px 20px 20px 20px;
	}
	section {
		padding-top: 190px;
		margin-top: -190px;
	}
}

.show_all {
	color: #ff9;
	font-size: 24px;
	display: block;
	text-align: center;
}

.show_all:hover {
	background-color: #555;
	color: #ff0;
}

.flex {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	text-align: center;
	gap: 20px;
}

/* ---------------------------------------------------------------------- */
/* !!! 5. <section id="#about"> !!! */

#about_hi {
	text-align: center;
}

#about_main {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-evenly;
}

#about_skills {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
}

#about_skills li {
	display: block;
	flex: 1 1 0%;
}

/* ---------------------------------------------------------------------- */
/* !!! 6. <section id="#projects"> !!! */

#projects_portfolio {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	text-align: center;
	gap: 20px;
}

/* ---------------------------------------------------------------------- */
/* !!! 7. <section id="#articles"> !!! */



/* ---------------------------------------------------------------------- */
/* !!! 8. <section id="#contact"> !!! */

#contact {
	padding-left: 8px;
}

#contact address {
	border: 1px solid #ff0;
}

#contact a {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-evenly;
	text-align: center;
}

#contact p {
	flex: 1 1 0;
}

#contact button {
	background-color: #555;
	color: #ff0;
	font-size: 40px;
	text-align: center;
	border: none;
	flex: 1 1 0;
}

#contact button:hover {
	background-color: #ff9;
	color: #555;
}

#contact button:active {
	background-color: #ff0;
	color: #555;
}

/* ---------------------------------------------------------------------- */
/* !!! 9. <footer> !!! */

footer {
	background-color: #999;
	color: #fff;
	text-align: right;
	font-size: 0.75em;
	position: relative;
	z-index: 2;
	bottom: 0px;
	left: 0px;
	margin: -16px -20px -16px -20px;
	padding: 10px;
	width: 100%;
}

footer p {
	margin: 0;
}

/* ---------------------------------------------------------------------- */
/* !!! 10. @media query !!! */