/* !!! 1. <body> !!! */
/* !!! 2. <header> !!! */
/* !!! 3. <main> !!! */
/* !!! 4. <section id=#about> !!! */
/* !!! 5. <section id="#projects"> !!! */
/* !!! 6. <section id="#blog"> !!! */
/* !!! 7. <section id="#contact"> !!! */
/* !!! 8. <footer> !!! */

/* ---------------------------------------------------------------------- */
/* !!! 1. <body> !!! */

body {
	background-color: #555;
	color: #fff;
	font-family: Arial, sans-serif;
	text-align: justify;
	margin: 0;
}

a {
	text-decoration: none;
	color: #fff;
}

a:hover {
	background-color: #555;
	color: #ff0;
}

a h1:hover {
	background-color: #555;
	color: #ff0;
}

h1 {
	color: #ff9;
	font-size: 24px;
	text-align: center;
}

/* ---------------------------------------------------------------------- */
/* !!! 2. <header> !!! */

header {
	background-color: #999;
	width: 100%;
	height: auto;
	top: 0px;
	left: 0px;
	position: fixed;
	overflow: hidden;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

header a {
	padding: 0 8vmin;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

header img {
	width: 8vmin;
	height: auto;
	padding: 0 3vmin;
}

header h1 {
	color: #ff0;
}

.navbar_list {
	list-style-type: none;
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-end;
}

@media all and (max-width: 800px) {
	.navbar_list {
		justify-content: space-around;
	}
}

@media all and (max-width: 500px) {
	.navbar_list {
		flex-direction: column;
	}
}

.navbar_list li {
	display: inline-block;
}

.navbar_list a {
	text-decoration: none;
	color: #fff;
	padding: 5px 20px;
	text-align: center;
	display: block;
}

/* ---------------------------------------------------------------------- */
/* !!! 3. <main> !!! */

main {
	padding: 60px 20px 20px 20px;
}

.show_all {
	color: #ff9;
	font-size: 24px;
	display: block;
	text-align: center;
}

.show_all:hover {
	background-color: #555;
	color: #ff0;
}

/* ---------------------------------------------------------------------- */
/* !!! 4. <section id=#about> !!! */

#about {
	padding-top: 60px;
	margin-top: -60px;
}

#about_hi {
	text-align: center;
}

#about_main {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-evenly;
	gap: 50px;
}

#about_skills {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
}

#about_skills li {
	display: block;
	flex: 1 1 0%;
}

/* ---------------------------------------------------------------------- */
/* !!! 5. <section id="#projects"> !!! */

#projects {
	padding-top: 60px;
	margin-top: -60px;
}

#projects_portfolio {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	text-align: center;
	gap: 20px;
}

#projects_portfolio a {
	flex: 1 1 0%;
}

#projects_portfolio img {
	max-width: 100%;
	height: auto;
}

/* ---------------------------------------------------------------------- */
/* !!! 6. <section id="#blog"> !!! */

/* ---------------------------------------------------------------------- */
/* !!! 7. <section id="#contact"> !!! */

#contact {
	padding: 110px 50px 50px 50px;
	margin-top: -60px;
}

#contact article {
	padding: 10px;
	border: 1px solid #ff0;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
	gap: 50px;
}

#contact a {
	text-align: center;
	flex: 1 1 0;
}

#contact button {
	background-color: #ff0;
	font-size: 40px;
	flex: 1 1 0;
	text-align: center;
	border: none;
	margin: auto;
}

#contact button:hover {
	background-color: #f99;
	border: 4px solid #ff0;
}

/* ---------------------------------------------------------------------- */
/* !!! 8. <footer> !!! */

footer {
	background-color: #777;
	color: #fff;
	padding: 10px;
	margin: -16px 0 -16px 0;
	text-align: right;
	font-size: 12px;
}

footer p {
	margin: 0;
}
