/*----------body----------*/

body {
	font-family: Arial, sans-serif;
	text-align: justify;
	margin: 0;
}

a:hover {
	background-color: #111;
	color: #ff0;
}

h1 {
	font-size: 24px;
}

/*----------header----------*/

header {
	background-color: #555;
	width: 100%;
	top: 0px;
	left: 0px;
	position: fixed;
	overflow: hidden;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

header img {
	width: 107px;
	height: auto;
	padding: 0;
	margin: 0;
}

header h1 {
	color: #ff0;
	padding: 0;
	margin: 0;
}

nav {
	order: 1;
}

nav ul {
	list-style-type: none;
}

nav li {
	display: inline-block;
}

nav li a {
	text-decoration: none;
	color: #f99;
	padding: 5px 20px;
	text-align: center;
	display: block;
}

/*----------main----------*/

main {
	background-color: #111;
	color: #ff9;
	padding: 60px 20px 20px 20px;
}

h1 {
	text-align: center;
}

a {
	text-decoration: none;
	color: #ff9;
}

/*----------main #welcome----------*/

#welcome {
	padding-top: 60px;
	margin-top: -60px;
}

#welcome_hi {
	text-align: center;
}

#welcome_main {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	gap: 50px;
}

#welcome li {
	display: block;
}

#welcome_skills {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

/*----------main #projects----------*/

#projects {
	padding-top: 60px;
	margin-top: -60px;
}

.show_all_projects {
	font-size: 24px;
	display: block;
	text-align: center;
}

.show_all_projects:hover {
	color: #f99;
}

#projects_portfolio {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	text-align: center;
	gap: 20px;
}

#projects_portfolio a {
	flex: 1 1 0%;
}

#projects_portfolio img {
	max-width: 100%;
	height: auto;
}

/*----------main #contact----------*/

#contact {
	padding: 110px 50px 50px 50px;
	margin-top: -60px;
}

#contact section {
	padding: 10px;
	border: 1px solid #ff0;
	display: flex;
	flex-direction: row;
	gap: 50px;
}

#contact button {
	background-color: #ff0;
	font-size: 40px;
	text-align: center;
	border: none;
	margin: auto;
	
	/*display: flex;
	flex-direction: column;
	align-self: center;*/
}

#contact button:hover {
	background-color: #f99;
	border: 4px solid #ff0;
}

/*----------footer----------*/

footer {
	background-color: #000;
	color: #999;
	padding: 10px;
	margin: -16px 0 -16px 0;
	text-align: right;
	font-size: 12px;
}

footer p {
	margin: 0;
}